#profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#profile-header {
    display: flex;
    justify-content: center;
}

#user-profile-information {
    width: 25%;
    padding: 50px 20px;
}