.homeContainer{
    position: absolute;
    margin-top: -1vh;
    height: 86vh;
    width: 100vw;
    margin-left: -5% !important;
    background-color: #1a1b1d;
}

#handyAndy {
    margin-top: 15vh;
    margin-left: 3vw;
    width: 40vw !important;
    cursor: pointer;
}
#handyAndy:hover {
    transform: rotate(-10deg);
}

#speechBubble{
    position: absolute;
    top: 3vh;
    right: 15vw;
    width: 43vw;
}

#homeMessage{
    position: absolute;
    font-size: 3.7vw;
    color: white;
    width: 30vw;
    right: 20vw;
    top: 10vh;
    text-align: center;
}