
#login-form-card {
    min-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

#signup-modal{
    max-width: 600px !important;
}

.login-form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

#login-form-buttons button{
    height: 36px !important;
    padding: 10px !important;
}

#loginHeader{
    text-align: center;
    margin-top: 5vh;
}